#GuarAuto{
    display: block;
    margin: 0 auto;
    width: 120px;
}

.lin28{
    margin-top: 10px;
}

.lin27{
    margin-top: 10px;
}
.error-message {
    color: red;
    font-size: 12px;
}

.error-field {
    border-color: red;
}