<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>perfil</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

<ion-card *ngFor="let i of usuario">
  <ion-item>
    <ion-avatar slot="start">
      <img alt="Silhouette of a person's head" src="https://ionicframework.com/docs/img/demos/avatar.svg" />
    </ion-avatar>
    <ion-label>{{i.nombre}}</ion-label>
    <small>{{i.correo}}</small>
  
    <!-- <small>{{i.contrasena}}</small> -->
    
  </ion-item>
</ion-card>

</ion-content>
