<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-icon (click)="close()" slot="end" name="close-outline"></ion-icon> 
    <ion-title>informacion</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card *ngFor="let i of dataModal">
  
    <ion-item *ngIf="i.modelo">
      <h3>Modelo: {{ i.modelo }}</h3>
    </ion-item>
    
    <ion-item *ngIf="i.patente">
      <h3>Patente: {{ i.patente }}</h3>
    </ion-item>
    
    <ion-item *ngIf="i.pato">
      <h3>Año: {{ i.pato }}</h3>
    </ion-item>
    
    <ion-item *ngIf="i.color">
      <h3>Color: {{ i.color }}</h3>
    </ion-item>
    
    <ion-item *ngIf="i.marca">
      <h3>Marca: {{ i.marca }}</h3>
    </ion-item>

    <ion-card>
      <ion-img *ngIf="i.imagenURL" [src]="i.imagenURL"></ion-img>
    </ion-card>
    
   
    
    
    
    </ion-card> 
    
  
      <ion-button expand="block" (click)="formAuto()" (click)="close()" color="success" >Agregar Auto</ion-button> 
      <!-- <ion-button expand="block" (click)="eliminarAuto()" color="success">eliminar auto</ion-button> -->
    <!-- si funciona solo que borra el local storage entero :( -->
  
</ion-content>
