<ion-menu side="end" contentId="main-content" color="success">
  <ion-header>
    <ion-toolbar>
      <ion-title>Menu Content</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content>This is the menu content.</ion-content>
</ion-menu>


<div class="ion-page" id="main-content">
  <ion-header>
    <ion-toolbar>
      <ion-row>
      <ion-icon class="taxiIcon" name="car-sport-outline"></ion-icon><h1 class="TeLlevo">TeLlevoApp</h1>
    </ion-row>
      <ion-buttons slot="end">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>

  <ion-content>
    <ion-row>
      
       <ion-img class="imgJove" src="https://i.pinimg.com/564x/6a/be/e8/6abee8b25b2ba2f55b746c6af75795e4.jpg" alt="" ></ion-img>
        <h4 class="overlay-text" >texto</h4>
    </ion-row>
</ion-content>
</div>