.logoTipo{
    height: 100px;
    width: 100px;
}

.taxiIcon{
    font-size:46px;
    margin-top: 6px;
    margin-left: 15px;
    color: rgb(96, 188, 89);
    margin-bottom: 6px;
}

.TeLlevo{
    font-family:'Times New Roman', Times, serif;
    font-size: 20px;
    
}

.imgJove{
    position: relative;

}

.overlay-text {
    position: absolute;
    top: 30%; /* Ajusta la posición verticalmente */
    left: 50%; /* Ajusta la posición horizontalmente */
    transform: translate(-50%, -50%);
    //background-color: rgba(0, 0, 0, 0.7);
    color: white;
    padding: 10px;
    border-radius: 5px;
    font-size: 16px; /* Ajusta el tamaño de fuente según tus necesidades */
  }
  
  
  
  
  
  